.container{
   display: block;
   position: fixed;
   right: 0;
   left: 0;
   top: 0;
   z-index: 9999;
   width: 100%;
   height: 100%;
   padding-top: 100px;

   background-color: #000000B2;
   -webkit-transition: 0.5s;
   overflow: auto;
   transition: all 0.3s linear;
 }
.modalContent{
   display: grid;
   width: 76%;
   margin: 0 auto;
   background-color: white;
   height: fit-content;
   border-radius: 20px;
   padding:1em  2em 2em 3.5em;
}
.mainContent{
   display: grid;
   grid-template-columns: 1.5fr 1fr;
   gap: 2em;
}

.txtlogo{
   display: flex;
   position:relative;
   left:-2.5em ;

}
.spanArticle{
   font-size: inherit;
}
.nav{
   display: flex;
justify-content: space-between;
}
.h3{
    color: #928B8B;
    padding-bottom: 23px;
}
.article{
   font-size:15px ;
   max-width: 100%;
}
.txtOrange {
   font-size: 15px;
   font-weight: 700;
   display: flex;
   flex-direction: column;
gap: 1.5em;
align-self:center ;
padding-top: 4em;
}
.txtOrange p{
   color: #FA5805;
}
.pBlack{
   color:black;
   font-size: 10px;
}
.btn{
   position: relative;
   background: #E3B505;
border-radius: 30px;
padding: .5em 1em;
width: 70%;
font-size: 20px;
}
.smallGrid{
   display: flex;
   flex-direction: column;
justify-content: space-around;
gap: 4em;
}
.logoResize{
   width: 40px;
   height: 40px;
   display: flex;
   align-self:flex-start;
   cursor: pointer;
}
.btnDiv{
   display: flex;
   justify-content: flex-end;
}
.txtTitle{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
@media(max-width:768px){
   .mainContent{
      display: flex;
      flex-direction: column;
   }
   .container{
      overflow: scroll;
   }
   .smallGrid{
      gap: 1.5em;
   }
   .txtOrange{
      padding: 0;
      align-self: flex-start;
   }
   .spanArticle{
      font-size: inherit;
      display: none;
   }
   .mainContent{
      gap: 0;
   }
   .modalContent{
      padding: 1em 2.15em;
      padding-bottom: 5em;
   }
   
   .h3{
      color: black;
   }
   .txtlogo{
      position: relative;
      top: 1.5em;
   }
   .txtlogo h2{
      min-width: 150px;
      flex-wrap:nowrap ;
   }
   .logoChange{
      position: relative;
      left: .5em;
   }
   .btn{
      width: 100%;
      max-width: 200px;
      font-size: 15px;
      padding: 1em 2em;
   }
.btnDiv{
   padding-bottom: 2em;
   align-self: center;
   display:flex;
}
}