.container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   font-size: 18px;
   overflow: hidden;
}
.closeBtndiv{
   display: flex;
   justify-content: flex-end;
}
.bgbrown{
   background-color:#FA58051A ;
padding: 0 2em;
}

.logoWhite{
position: relative;
top: -1em;
}
.regDiv{
   background: #FFFFFF;
   padding: 1.35em;
   display: flex;
   flex-direction: column;
   gap: 2.5em;
}
.logDiv{
   background: black;
   display: flex;
   flex-direction: column;
   gap: 3.5em;
   padding: 1.35em;
position: relative;
}

.imgResize{
   width: 40px;
   height: 40px;
}
button{
   background: none;
   border: none; 
}
.pReg{
   font-size:2rem ;
color: #FA5805;
line-height: 43px;
font-weight: 700;
}
.txtLogo{
   display: flex;
   position: relative;
height: 10%;
padding-top: 2em;}
.txtLogoLogin{
   display: flex;
   position: relative;
height: 10%;
padding-top: 2em;}

.txtLogo::after{
   content: '';
   height: 2.58px;
   width: 100%;
   background: rgb(0, 0, 0);
   position: absolute;
   bottom: 0;
   left: 20%;
   top: 5em;
}
.txtLogoLogin::after{
   content: '';
   height: 2.58px;
   width: 100%;
   background: rgb(255, 255, 255);
   position: absolute;
   bottom: 1em;
   left: 20%;
}



.logoLoginMobile{
   position: relative;
   top: -1.3em;
   left: .8em;
   height: 106px;
   display: none;
}
.registerDetails{
   display: flex;
   flex-direction: column;
   gap: 1em;
   padding: 0 1.37em;
}
.inputVisible{
   border-bottom: black solid 1px;
   width: 80%;
   font-family: inherit;
}
h6{
   font-weight: 400;
}
h2{
   font-weight: 500;
   line-height: 36px;
}
.btndiv{
   display: flex;
   justify-content: flex-end;
   padding-top: 3.5em;
   padding-right: 1.35em;

}
.btnBlack{
   background: black;
   color: white;
   border-radius: 0 30px 30px 0;
   min-width: 30%;
   padding: .5em .5em .5em 0 ;
   font-size: 1.125rem;
}
.loginBtn{
   background: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   border-radius: 0 30px 30px 0;
   min-width: 30%;
   padding: .5em .5em .5em 0 ;
   font-size: 1.125rem;
   text-align: center;
}

.h1{
  max-width: 100%;
}
.LogintxtWhite,span{
   color: white;
}
.h6white{
   border-bottom: rgb(255, 255, 255) solid 1px;
   width: 80%;
   background-color: black;
   color: rgb(169, 166, 166);
   font-family: inherit;
}
.logoWhiteMobile{
   display: none;
}
.linkBtn{
width: 100%;
}
.LogintxtWhite{
   display: flex;
   flex-direction: column;
   padding: 0 1em;
}
.regtxtWhite{
   display: flex;
   flex-direction: column;
}
.error{
   color: white;
   background-color: rgb(53, 51, 51);
   position: absolute;
top: 14%;
z-index: 9999;
border-radius: .5em;
font-size: 15px;
padding: .5em .5em;
transition: ease-in-out 3s;
text-align: center;
display: flex;
align-self: center;
}
.logoB{
   position: relative;
   top: -.5em;
   left: .5em;
}

@media(max-width:768px){
.bgbrown{
   display: none;
}
.logoWhite{
   display: flex;
}
.logoWhiteMobile,.logoLoginMobile{
   display: flex;
}
.closeBtndiv{
   justify-content: space-between;
}
.regDiv{
   width: 100%;
}
.logDiv{
   width: 100%;
}

.container{
   display: flex;
   width: 100%;

}
.btnBlack,.loginBtn{
   max-width: 200px;
   padding-left: .5em;
   width: 40%;
}
.imgResize{
position: relative;
top: .5em;
}
.txtLogoLogin{
   padding: 0;
}
.txtLogoLogin::after{
   top: 3em;
}

.inputVisible,.h6white{
   width: 100%;
}
.error{
   top: 15%;

}

}