.container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   font-size: 18px;
   overflow: hidden;
}
.closeBtndiv{
   display: flex;
   justify-content: flex-end;
}
.bgbrown{
   background-color:#FA58051A ;
padding: 0 2em;
}

.logoWhite{
position: relative;
top: -1em;
}
.regDiv{
   background: #FFFFFF;
   padding: 1.35em;
   display: flex;
   flex-direction: column;
   gap: 2.5em;
}
.logDiv{
   background: black;
   display: flex;
   flex-direction: column;
   gap: 3.5em;
   padding: 1.35em;

}

.imgResize{
   width: 40px;
   height: 40px;
}
button{
   background: none;
   border: none;
}
.pReg{
   font-size:2rem ;
color: #FA5805;
line-height: 43px;
font-weight: 700;
}
.txtLogo{
   display: flex;
   position: relative;
height: 10%;
padding-top: 2em;}
.txtLogoLogin{
   display: flex;
   position: relative;
height: 10%;
padding-top: 2em;}

.txtLogo::after{
   content: '';
   height: 2.58px;
   width: 100%;
   background: rgb(0, 0, 0);
   position: absolute;
   bottom: 0;
   left: 20%;
}
.txtLogoLogin::after{
   content: '';
   height: 2.58px;
   width: 100%;
   background: rgb(255, 255, 255);
   position: absolute;
   bottom: 0;
   left: 20%;
}



.logoLoginMobile{
   position: relative;
   top: -1.3em;
   left: .8em;
   height: 106px;
   display: none;
}
.registerDetails{
   display: flex;
   flex-direction: column;
   gap: 1em;
   padding: 0 1.37em;
}
.inputVisible{
   outline: black;
   border: black solid 1px;
}
h6{
   font-weight: 400;
}
h2{
   font-weight: 500;
   line-height: 36px;
}
.btndiv{
   display: flex;
   justify-content: flex-end;
   padding-top: 3.5em;
   padding-right: 1.35em;

}
.btnBlack{
   background: black;
   color: white;
   border-radius: 0 30px 30px 0;
   min-width: 30%;
   padding: .5em .5em .5em 0 ;
   font-size: 1.125rem;
}
.loginBtn{
   background: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   border-radius: 0 30px 30px 0;
   min-width: 30%;
   padding: .5em .5em .5em 0 ;
   font-size: 1.125rem;
   text-align: center;
}

.h1{
  max-width: 100%;
}
.LogintxtWhite,span{
   color: white;
}
.h6white{
   /* color: #FFFFFF40; */
}
.logoWhiteMobile{
   display: none;
}
.LogintxtWhite{
   display: flex;
   flex-direction: column;
}
.regtxtWhite{
   display: flex;
   flex-direction: column;
}


@media(max-width:768px){
.bgbrown{
   display: none;
}
.logoWhite{
   display: flex;
}
.logoWhiteMobile,.logoLoginMobile{
   display: flex;
}
.closeBtndiv{
   justify-content: space-between;
}
.regDiv{
   width: 100%;
}
.logDiv{
   width: 100%;
}

.container{
   display: flex;
   width: 100%;

}
.btnBlack,.loginBtn{
   max-width: 200px;
   padding-left: .5em;
}
.imgResize{
position: relative;
top: .5em;
}
.txtLogoLogin{
   padding: 0;
}
}